
.header {
  border: 1px solid black;
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #464D77;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #F4EDED;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #3F4849;
  color: black;
}




/* Create three equal columns that floats next to each other */
.column {
    float: left;
    /* width: 33.33%; */
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FFnU06etzmPw%2Fmaxresdefault.jpg&f=1&nofb=1);
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }

.row {
  height: 440px;

}
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }






  .footer {
    background-color: #36827F;
    text-align: center;
    padding: 10px;
  }